
*, * ::before, *::after {
    box-sizing: border-box;
}

.carousel {
    width: 100vh;
    height: 100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index:2 ;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: antiquewhite;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;

}

.carousel-button.next {
    right: 1rem;
}


/* .hero {
    background-color: #1b4458;
    font-size: 40px;
} */
section {
    background-color: #1b4458;
}

 img {
    border-radius: 150px;
    height: 350px;
    display: flex;
} 
 
 h1{
    display: inline-block;
    font-size: 48px;
    color: antiquewhite;
    text-decoration: underline;
}
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 24px;
}

#personal {
    padding: 20px;
    font-size: 34px;
    color: antiquewhite;
    background-color: #1b4458;
    /* text-align: end; */
    text-decoration: underline;
    }

.sub-section{
     display: flex;
        justify-content: space-around;
        color: antiquewhite;
}   

.subtext{
    font-size: 15px;
    font-weight: 300;
}


.project-card {
    width: 300px;
    height: 500px;
    border:  1px solid  black;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    
}

article{
    display: flex;
        font-size: 30px;
        color:antiquewhite;
        background-color: #1b4458;
    }

p{
    padding: 20px;
    color: antiquewhite;
    font-size: 24px;
}

h2{
    text-decoration: underline;
    background: #1b4458;
    color: antiquewhite;
}
footer{
    height: 500px;
    background-color: #1b4458;

}

div {
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #1b4458;
    color: antiquewhite;
}

/* ^^ play with this to set footer text not on left  */

/* div ul {
    list-style-type: none;
} */

div ul li {
    display:inline-block;
    margin-left: 24px;
}

h3{
    /* float: center; */
    color: antiquewhite;
    text-decoration: underline;
    font-size: larger;
}

.project-img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    

}

hr {
    margin-left: 20px;
    margin-right: 20px ;

}

a {
    color: rgb(26, 163, 168);
}

/* .foot {
    
} */